* {
    font-family: Whitney, "Apple SD Gothic Neo", NanumBarunGothic, "맑은 고딕", "Malgun Gothic", Gulim, 굴림, Dotum, 돋움, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

a {
    color: #00b0f4;
    text-decoration: none;
}

a:focus {
    outline: none;
}

body {
    background-color: #36393f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


img {
    position: relative;
    display: block;
    color: #fff;
    user-select: none;
    object-fit: contain;
    border-radius: 3px;
    height: 225px;
    width: 400px;
}

table {
    margin-top: 1rem;
    width: 400px;
}

tr {
    display: flex;
    flex-direction: column;
}

label {
    color: #8e9297;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-box-flex: 1;
    flex: 1;
    cursor: default;
}

input {
    color: #dcddde;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 3px;
    font-size: 1rem;
    transition: border-color .2s ease-in-out;
    width: calc(100% - 22px);
}

input:focus {
    outline: none;
    border-color: #7289da !important;
}

input:hover {
    border-color: #040405;
}

button {
    color: #fff;
    background-color: #7289da !important;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    transition: background-color .17s ease, color .17s ease;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    user-select: none;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    margin-top: .5rem;
    cursor: pointer;
    margin-left: auto;
    outline: none;
}

button:hover {
    background-color: #677bc4;
}